.card-body {
    justify-content: center;
    text-align: center;
}

img{
    border: 1px solid black;
}

h1 {
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 20px;
  position: relative;
}

h1::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #0066ff;
  position: absolute;
  bottom: -8px;
  left: 0;
  border-radius: 10px;
}

