.form-box {
    width: 90%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.9rem;
    font-weight: 700;
    color: #000;
}

.form-label {
    color: #1b0fa0;
    font-weight: 600;
}

.form-control {
    border: 1.5px solid #8a8adf;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(138, 138, 223, 0.3);
    transition: 0.2s ease-in-out;
}

.form-control:focus {
    border-color: #3b49df;
    box-shadow: 0 0 8px rgba(59, 73, 223, 0.3);
}

.btn-primary {
    background-color: #5a8cfb;
    border: none;
    border-radius: 8px;
    padding: 10px 0;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #4979e6;
}

img {
    object-fit: cover;
}

.link-voltar {
    background: none;
    border: none;
    color: #007bff;
    text-decoration: underline;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 0;
    margin-top: 1rem;
    display: block;
    text-align: center;
}

.link-voltar:hover {
    color: #0056b3;
}

@media (max-width: 768px) {
    .col-md-6:first-child {
        display: none;
    }

    .form-box {
        box-shadow: none;
        padding: 30px;
    }
}

.loading-overlay {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
}
