<header class="main-header cor-padrao">
  <div class="header-top">
    @if (!clienteLogado) {
      <button class="login-btn" routerLink="tela-cadastro" routerLinkActive="active">
        Cadastro <i class="bi bi-person-fill"></i>
      </button>
      <button class="login-btn" routerLink="tela-login" routerLinkActive="active">
        Login <i class="bi bi-person-fill"></i>
      </button>
    }

    @if (clienteLogado) {
      <div class="usuario-dropdown">
        <button class="usuario-logado" (click)="menuAberto = !menuAberto">
          Olá, {{ nomeCliente }} <i class="bi bi-caret-down-fill"></i>
        </button>
        <ul class="dropdown-menu" [class.show]="menuAberto">
          <li><button (click)="logout()">Logout</button></li>
        </ul>
      </div>
    }
  </div>

  <div class="header-middle">
    <a routerLink="home"><img class="logo" src="images/logo.png" alt="Logo Mapa do Intercambista"></a>
  </div>

  <div class="header-bottom">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="foruns" routerLinkActive="active" class="nav-link">Fóruns</a></li>
      <li class="nav-item"><a routerLink="destinos" routerLinkActive="active" class="nav-link">Destinos</a></li>
      <li class="nav-item"><a routerLink="agencias" routerLinkActive="active" class="nav-link">Agências</a></li>
      <li class="nav-item"><a routerLink="pesquisa" routerLinkActive="active" class="nav-link"><i class="bi bi-search"></i></a></li>
    </ul>
  </div>
</header>
