.primeiraTela {
    background-image: url('/images/Intercambista.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.cor-botao{
    background-color: #1800AD;
    color: white;
}

.tamanho-desk-top {
    height: 99.5dvh;
}

.fonte-branca {
    color: white;
    
}
